.breadcrum{
    gap: 10px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: poppins;
    font-size: 500;
}
.breadcrum img{
    padding-top: 5px;
    margin: -3px 10px;
}